/*
font-family: 'Crimson Text', serif;
font-family: 'Electrolize', sans-serif;
*/

*{
	padding:0;
	margin:0;
	/*overflow-x: hidden;*/
	--color1: #DBF6FF;
	--color2: #78CAD2;
	--color3: #4D8487;
	--color4: #2F545E;
	--color5: #233A3D;
}

html{
	background-color: var(--color1);
	font-family: 'Crimson Text', serif;
	color: #666;
    font-size: 16px;
    font-weight: 300;
}
#header{
	height: 50px;
	max-width: 100%;
	background-color: var(--color4);
	color: #fff;	
	padding-left: 30px;
}
body{

	margin: 0 auto;
	background-color: #fff;
}

nav{
	margin-top: 10px;
	margin-left: 10px;
	color: #fff;
	float: left;
	width: 240px;
	border: 1px solid black;
	position: fixed;
	background-color: var(--color4);
	font-family: 'Electrolize', sans-serif;
}

nav em{
	font-size: 10px;
}
nav header{
	padding-top: 10px;
	padding-left: 10px;
	font-size: 20px;
	border-bottom: 1px solid white;
}

nav li{
	padding-left: 10px;
	color: white;
	height: 35px;
	line-height: 35px;
	vertical-align: baseline;
}

nav li:hover{
	background-color: var(--color5);
}

nav a{
	color: #fff;
	text-decoration: none;
}

main{
	max-width: 1200px;
	margin-left: 270px;
	padding: 20px;
	max-width: 74%;
}

main header{
	font-family: 'Electrolize', sans-serif;
	line-height: 32px;
	font-size: 25px;
    margin: 45px 0;
	color: black;
	display: block;
}

main p{
	margin-bottom: 5px;
	text-indent: 20px;
}

main p::first-letter { 
    font-size: 130%;
    color: #black;
}

main code{
	font-size: 12px;
	white-space: pre;

	padding: 10px;
	margin: 0 auto;
	margin-bottom: 10px;
	width: 80%;
	
	background-color: #f5f5f5;
	box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3); 
	display: block;
	
}

main ol, ul{
	font-style: italic;
	margin-top: 10px;
	margin-left: 30px;
}

section{
	padding-bottom: 10px;
	border-bottom: 1px solid var(--color1);
}

footer{
	padding-top: 20px;
	text-align: center;
	height: 50px;
	max-width: 100%;
	background-color: var(--color4);
	color: #fff;	
}

@media only screen and (max-width:850px) {
	nav{
	    float: none;
	    margin: 0 auto;
	    position: unset;
	    width: 70%;
	    padding: 0px;
	}
	main{
		max-width: 100%;
		margin:0;
	}
}